.banner
	.row
		.container
			.col-md-6.accesories
				//- img(src="../images/banner1.jpg")
				h1 ACCESORIES COLLECTION
			.col-md-6.arrival
				//- img(src="../images/banner2.jpg")
				H1 NEW ARRIVAL