.blog
	.row
		.container
			h4.text-center BLOG
			.col-sm-6.col-md-4
				img.img-responsive(src="../images/blog1.jpg")
				.caption
					h4 THE SAMPLE HEADING TITLE
					p 27/11/2015
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ...
					p.red Read more ...
			.col-sm-6.col-md-4
				img.img-responsive(src="../images/blog2.jpg")
				.caption
					h4 THE SAMPLE HEADING TITLE
					p 27/11/2015
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ...
					p.red Read more ...
			.col-sm-6.col-md-4
				img.img-responsive(src="../images/blog3.jpg")
				.caption
					h4 THE SAMPLE HEADING TITLE
					p 27/11/2015
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ...
					p.red Read more ...