.client
	.row
		.container
			.col-md-2
				img.img-responsive(src="../images/client1.jpg")
			.col-md-2
				img.img-responsive(src="../images/client2.jpg")
			.col-md-2
				img.img-responsive(src="../images/client3.jpg")
			.col-md-2
				img.img-responsive(src="../images/client4.jpg")
			.col-md-2
				img.img-responsive(src="../images/client5.jpg")
			.col-md-2
				img.img-responsive(src="../images/client6.jpg")