.collection
	.row
		.container
			nav.text-center
				ul.pagination
					li
						a(href="#" aria-label="Previous")
							span(aria-hidden="true")&laquo;
					li
						a(href="#") LATEST
					li
						a(href="#") BESTELLER
					li
						a(href="#") SALE
					li
						a(href="#" aria-label="Next")
							span(aria-hidden="true")&raquo;
			.col-sm-6.col-md-3
				.thumbnail
					img(src="../images/a1.jpg")
					.caption
						h3 Deliver Wide
						p
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star-empty
							span.glyphicon.glyphicon-star-empty
						p $242.00
						p $218.00
			.col-sm-6.col-md-3
				.thumbnail
					img(src="../images/b1.jpg")
					.caption
						h3 Deliver Wide
						p
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star-empty
							span.glyphicon.glyphicon-star-empty
						p $242.00
						p $218.00
			.col-sm-6.col-md-3
				.thumbnail
					img(src="../images/c1.jpg")
					.caption
						h3 Deliver Wide
						p
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star-empty
							span.glyphicon.glyphicon-star-empty
						p $242.00
						p $218.00
			.col-sm-6.col-md-3
				.thumbnail
					img(src="../images/d1.jpg")
					.caption
						h3 Deliver Wide
						p
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star-empty
							span.glyphicon.glyphicon-star-empty
						p $242.00
						p $218.00

