.form-contact
	.container
		.row
			.col-md-6.maps
				iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12085.865746194442!2d-73.9828286!3d40.7737587!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf876ccebba645bff!2sEscuela+Juilliard!5e0!3m2!1ses-419!2spe!4v1461345828455" width="400" height="300" frameborder="0" style="border:0" allowfullscreen)
			.col-md-6
				.row
					.col-md-6
						input.text-left.form-control(type="text" id="inputEmail3" placeholder="First name")
					.col-md-6
						input.text-left.form-control(type="text" id="inputEmail3" placeholder="Last name")
				.row
					.col-md-6
						input.text-left.form-control(type="email" id="inputEmail3" placeholder="Email")
					.col-md-6
						input.text-left.form-control(type="text" id="inputEmail3" placeholder="Website")
				.row
					input.form-control(type="text" id="inputEmail3" placeholder="Subject")
					textarea.form-control(rows="10")
			button.btn.pull-right(type="button") SEND





