.header-search
    .row
        .container
            .col-md-4
                .row
                    .col-md-4
                        span.glyphicon.glyphicon-time.pull-right
                    .col-md-8
                        h4 OPENING TIME
                        p 9.00 AM - 10.00 PM
            .col-md-4.text-center
                img(src="../images/logo.png")
            .col-md-4
                .search-form
                    input(type="text" class="form-control" placeholder="search")
                    span.glyphicon.glyphicon-search