.header
    .row
        .container
            p Default Welcome Msg!
            ul.list-inline.list-unstyled.pull-right
                li
                    a(href="#") 
                        img(src="../images/flag1.png") 
                        p Language
                li
                    a(href="#")  
                        span.glyphicon.glyphicon-usd Currency
                li
                    a(href="#") 
                        span.glyphicon.glyphicon-user My account
    .row.hero-section
        .container
            .col-md-4
                span.glyphicon.glyphicon-time
                h2 OPENING TIME
                p 9.00 AM - 10.00 PM
            .col-md-4
                img(src="../images/logo.png")
            .col-md-4
                .form-group
                    label(class="control-label sr-only")
                    input(type="text" class="form-control" placeholder="search")
                    span.glyphicon.glyphicon-search
    .row
        .container
            ul.list-inline.list-unstyled
                li
                    a(href="#") About
                li
                    a(href="#") Contact us
                li.pull-right.shopping-cart
                    span.glyphicon.glyphicon-shopping-cart My cart
                    p 2 item(s) - $244.00


