.header
    .row
        .container
            .col-md-4
                p Default Welcome Msg!
            .col-md-8
                ul.list-inline.list-unstyled.pull-right
                    li
                        .dropdown
                            .dropdown-toggle(id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                                img(src="../images/flag1.png") 
                                p Language
                                span.glyphicon.glyphicon-chevron-down
                            ul.dropdown-menu.pull-right(aria-labelledby="dropdownMenu1")
                                li
                                    a.text-right(href="#") Spain
                                li
                                    a.text-right(href="#") English

                    li
                        .dropdown
                            .dropdown-toggle(id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                                span.glyphicon.glyphicon-usd 
                                p Currency
                                span.glyphicon.glyphicon-chevron-down
                            ul.dropdown-menu.pull-right(aria-labelledby="dropdownMenu1")
                                    li
                                        a.text-right(href="#") Dolar
                                    li
                                        a.text-right(href="#") Soles

                    li
                        .dropdown
                            .dropdown-toggle(id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                                span.glyphicon.glyphicon-user 
                                p My account
                                span.glyphicon.glyphicon-chevron-down
                            ul.dropdown-menu.pull-right(aria-labelledby="dropdownMenu1")
                                li
                                    a.text-right(href="#") Log in
                                li
                                    a.text-right(href="#") Log out

    .row.hero-section
        .container
            .col-md-4
                .row
                    .col-md-4
                        span.glyphicon.glyphicon-time.pull-right
                    .col-md-8
                        h4 OPENING TIME
                        p 9.00 AM - 10.00 PM
            .col-md-4.text-center
                img(src="../images/logo.png")
            .col-md-4
                .search-form
                    input(type="text" class="form-control" placeholder="search")
                    span.glyphicon.glyphicon-search
    .row.nav-shopping-cart
        .container
            ul.list-inline.list-unstyled
                li
                    a(href="#") About
                li
                    a(href="#") Contact us
                li.pull-right.shopping-cart
                    ul.list-unstyled
                        li
                            .dropdown
                                    .dropdown-toggle(id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                                        span.glyphicon.glyphicon-shopping-cart 
                                        p My cart
                                        br
                                        p 2 item(s) - $244.00
                                    ul.dropdown-menu.pull-right(aria-labelledby="dropdownMenu1")
                                            li
                                                a.text-right(href="#") 
                                                    img(src="../images/cart-1.jpg")
                                            li
                                                a.text-right(href="#") Soles
                        


