.header
	.row
		.container
			.col-md-4
					p Default Welcome Msg!
			.col-md-8
					ul.list-inline.list-unstyled.pull-right
							li
								.dropdown
									.dropdown-toggle(id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
										img(src="../images/flag1.png") 
										p Language
										span.glyphicon.glyphicon-chevron-down
									ul.dropdown-menu.pull-right(aria-labelledby="dropdownMenu1")
										li
											a.text-right(href="#") Spain
										li
											a.text-right(href="#") English
							li
								.dropdown
									.dropdown-toggle(id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
										span.glyphicon.glyphicon-usd 
										p Currency
										span.glyphicon.glyphicon-chevron-down
									ul.dropdown-menu.pull-right(aria-labelledby="dropdownMenu1")
										li
											a.text-right(href="#") Dolar
										li
											a.text-right(href="#") Soles
							li
								.dropdown
									.dropdown-toggle(id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
										span.glyphicon.glyphicon-user 
										p My account
										span.glyphicon.glyphicon-chevron-down
									ul.dropdown-menu.pull-right(aria-labelledby="dropdownMenu1")
										li
											a.text-right(href="#") Log in
										li
											a.text-right(href="#") Log out



