.nav-shopping-cart
    .row
        .container
            ul.list-inline.list-unstyled
                li
                     a(href="index.html") About
                li
                    a(href="contact.html") Contact us
                li.pull-right.shopping-cart
                    ul.list-unstyled
                        li
                            .dropdown
                                .dropdown-toggle(id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                                    span.glyphicon.glyphicon-shopping-cart 
                                    p My cart
                                    p 2 item(s) - $244.00
                                ul.dropdown-menu.pull-right(aria-labelledby="dropdownMenu1")
                                    li
                                        .row
                                            .col-md-4
                                                img(src="../images/cart-1.jpg")
                                            .col-md-8
                                                p Aliquam Consequat
                                                p 1 x $500 
                                                span.glyphicon.glyphicon-remove
                                    li
                                        .row
                                            .col-md-4
                                                img(src="../images/cart-2.jpg")
                                            .col-md-8
                                                p Aliquam Consequat
                                                p 1 x $500 
                                                span.glyphicon.glyphicon-remove
                        