.nav-shopping-cart
    .row
        .container
            ul.list-inline.list-unstyled
                li
                     a(href="#") About
                li
                    a(href="#") Contact us
                li.pull-right.shopping-cart
                    ul.list-unstyled
                        li
                            .dropdown
                                .dropdown-toggle(id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                                    span.glyphicon.glyphicon-shopping-cart 
                                    p My cart
                                    p 2 item(s) - $244.00
                                ul.dropdown-menu.pull-right(aria-labelledby="dropdownMenu1")
                                    li
                                        a.text-right(href="#") 
                                            img(src="../images/cart-1.jpg")
                                            p Aliquam Consequat
                                            p 1 x $500 
                                            span.glyphicon.glyphicon-remove
                                    li
                                        a.text-right(href="#") 
                                            img(src="../images/cart-2.jpg")
                                            p Aliquam Consequat
                                            p 1 x $500 
                                            span.glyphicon.glyphicon-remove
                        