.more-collection
	.container
		nav.text-center
			ul.pagination
				li
					a(href="#" aria-label="Previous")
						span(aria-hidden="true")&laquo;
				li
					a(href="#") CLOTHING
				li
					a(href="#") EQUIPMENTS
				li
					a(href="#") JEWELLERY
				li
					a(href="#" aria-label="Next")
						span(aria-hidden="true")&raquo;
		.row
			.col-sm-6.col-md-4
				ul.list-unstyled.list-inline
					li					
						.thumbnail
							img(src="../images/a2.jpg")
					li.caption
						h3 Deliver Wide
						p $242.00
						p $218.00
						p
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star-empty
							span.glyphicon.glyphicon-star-empty
						p
							span.glyphicon.glyphicon-shopping-cart Add to cart 
			.col-sm-6.col-md-4
				ul.list-unstyled.list-inline
					li					
						.thumbnail
							img(src="../images/b2.jpg")
					li.caption
						h3 Deliver Wide
						p $242.00
						p $218.00
						p
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star-empty
							span.glyphicon.glyphicon-star-empty
						p
							span.glyphicon.glyphicon-shopping-cart Add to cart
			.col-sm-6.col-md-4
				ul.list-unstyled.list-inline
					li					
						.thumbnail
							img(src="../images/c2.jpg")
					li.caption
						h3 Deliver Wide
						p $242.00
						p $218.00
						p
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star-empty
							span.glyphicon.glyphicon-star-empty
						p
							span.glyphicon.glyphicon-shopping-cart Add to cart 
		.row
			.col-sm-6.col-md-4
				ul.list-unstyled.list-inline
					li					
						.thumbnail
							img(src="../images/d2.jpg")
					li.caption
						h3 Deliver Wide
						p $242.00
						p $218.00
						p
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star-empty
							span.glyphicon.glyphicon-star-empty
						p
							span.glyphicon.glyphicon-shopping-cart Add to cart 
			.col-sm-6.col-md-4
				ul.list-unstyled.list-inline
					li					
						.thumbnail
							img(src="../images/e2.jpg")
					li.caption
						h3 Deliver Wide
						p $242.00
						p $218.00
						p
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star-empty
							span.glyphicon.glyphicon-star-empty
						p
							span.glyphicon.glyphicon-shopping-cart Add to cart
			.col-sm-6.col-md-4
				ul.list-unstyled.list-inline
					li					
						.thumbnail
							img(src="../images/f2.jpg")
					li.caption
						h3 Deliver Wide
						p $242.00
						p $218.00
						p
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star-empty
							span.glyphicon.glyphicon-star-empty
						p
							span.glyphicon.glyphicon-shopping-cart Add to cart 

