.more-collection
	.container
		nav.text-center
			ul.pagination
				li
					a(href="#" aria-label="Previous")
						span(aria-hidden="true")&laquo;
				li
					a(href="#") CLOTHING
				li
					a(href="#") EQUIPMENTS
				li
					a(href="#") JEWELLERY
				li
					a(href="#" aria-label="Next")
						span(aria-hidden="true")&raquo;
		.row
			.col-sm-6.col-md-4
				.row
					.col-md-4					
						.thumbnail
							img(src="../images/a2.jpg")
					.col-md-8.caption
						p Deliver Wide
						p.tachado $242.00
						p.red $218.00
						p
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star-empty
							span.glyphicon.glyphicon-star-empty
						p.addtocart
							span.glyphicon.glyphicon-shopping-cart 
							span Add to cart 
			.col-sm-6.col-md-4
				.row
					.col-md-4					
						.thumbnail
							img(src="../images/b2.jpg")
					.col-md-8.caption
						p Deliver Wide
						p.tachado $242.00
						p.red $218.00
						p
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star-empty
							span.glyphicon.glyphicon-star-empty
						p.addtocart
							span.glyphicon.glyphicon-shopping-cart 
							span Add to cart 
			.col-sm-6.col-md-4
				.row
					.col-md-4					
						.thumbnail
							img(src="../images/c2.jpg")
					.col-md-8.caption
						p Deliver Wide
						p.tachado $242.00
						p.red $218.00
						p
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star-empty
							span.glyphicon.glyphicon-star-empty
						p.addtocart
							span.glyphicon.glyphicon-shopping-cart 
							span Add to cart 
		.row
			.col-sm-6.col-md-4
				.row
					.col-md-4					
						.thumbnail
							img(src="../images/d2.jpg")
					.col-md-8.caption
						p Deliver Wide
						p.tachado $242.00
						p.red $218.00
						p
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star-empty
							span.glyphicon.glyphicon-star-empty
						p.addtocart
							span.glyphicon.glyphicon-shopping-cart 
							span Add to cart 
			.col-sm-6.col-md-4
				.row
					.col-md-4					
						.thumbnail
							img(src="../images/e2.jpg")
					.col-md-8.caption
						p Deliver Wide
						p.tachado $242.00
						p.red $218.00
						p
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star-empty
							span.glyphicon.glyphicon-star-empty
						p.addtocart
							span.glyphicon.glyphicon-shopping-cart 
							span Add to cart 
			.col-sm-6.col-md-4
				.row
					.col-md-4					
						.thumbnail
							img(src="../images/f2.jpg")
					.col-md-8.caption
						p Deliver Wide
						p.tachado $242.00
						p.red $218.00
						p
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star-empty
							span.glyphicon.glyphicon-star-empty
						p.addtocart
							span.glyphicon.glyphicon-shopping-cart 
							span Add to cart 

