.order
	.container
		.row
			.col-md-4
				.order
					.row
						.col-md-4.order-span.text-center
							span.ion-ios-telephone
						.col-md-8
							h4 ORDER ONLINE NOW
							p Call Us:(0123)456 789
			.col-md-4
				.order
					.row
						.col-md-4.order-span.text-center
							span.ion-android-plane
						.col-md-8
							h4 FREE WORLDWIDE SHIPPING
							p On Order Over $100
			.col-md-4
				.order
					.row
						.col-md-4.order-span.text-center
							span.ion-cash
						.col-md-8
							h4 30 DAYS MONEY BACK 100%
							p Satisfaction Guarantee