*{	outline:1px solid rgba(255,0,0,0.3); }
$background-gray:#F2F2F2;
$background-black:#1C1C1C;
$color:#585858;
$color-white:#fff;
$font-family: "Arial"; 
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$pdt1:1%;
$pdl2: 5px;
body{font-size:$font-size-14; font-family: $font-family; color: $color; font-weight: bold;}
h1,h2,h3,h4,h5{margin:0; padding: 0;}
span{font-size:$font-size-16; font-family: $font-family; color: $color;}
.header{background: $background-gray;}
.header a p{font-family: $font-family;}
.header ul li span{font-size:$font-size-12;}
.header .col-md-4,.col-md-8{padding-top:$pdt1;}
.header .dropdown{margin-left: $pdl2;}
.header .dropdown .dropdown-toggle img{display:inline-block; margin-left: $pdl2;}
.header .dropdown .dropdown-toggle p{display:inline-block; margin-left: $pdl2;}
.header .dropdown .dropdown-toggle span{display:inline-block; margin-left: $pdl2;}
.hero-section{background:#fff; padding: 5%;}
.hero-section img{margin:0; padding: 0;}
.hero-section span{font-size:50px; vertical-align: middle;}
.hero-section .search-form{ padding: 1%; border: 1px solid #F2F2F2;}
.hero-section .search-form input{width:90%; display:inline-block; border: none;}
.hero-section .search-form span{font-size:$font-size-14; margin:0; padding:0;margin-left: $pdl2;}
.header .dropdown{margin-left: $pdl2;}
.nav-shopping-cart .dropdown .dropdown-toggle span{font-size:$font-size-14; color: $color-white;}
.shopping-cart{background: $background-black; color: $color-white; }