doctype html
html
  include ./ci/layout.jade
  title Fashion Accesories
  body
    include ./ci/header.jade
    include ./ci/header-search.jade
    include ./ci/header-nav-shopping-cart.jade
    include ./ci/header-slider.jade