doctype html
html
  include ./ci/layout.jade
  title Fashion Accesories
  body
    include ./ci/header.jade
    include ./ci/header-search.jade
    include ./ci/header-nav-shopping-cart.jade
    include ./ci/header-slider.jade
    include ./ci/banner.jade
    include ./ci/collection.jade
    include ./ci/client.jade
    include ./ci/more-collection.jade
    include ./ci/blog.jade
    include ./ci/order.jade
    include ./ci/footer-contact.jade
    include ./ci/footer.jade



